body {
  padding-top: 80px;
  padding-left: 50px;
}

.starter-template {
  padding: 20px 1px;
  text-align: left;
}

.hidbut{
    background-color: rgb(34, 34, 34);
    color: gray;
    border: none;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    
}
  
.editMe {
	width: 30px;
}
.table {
	padding-left:
	overflow: scroll;
	overflow-x: auto;
	width: 95%;
	height: 300px;
}

  