<h1>bs_storehandlebars</h1>
<!--
<form method="post" action="/stores">
  <label>Address: </label><input type="text" name="address" ><br>
  <label>City: </label> <input type="text" name="city" ><br>
  <label>State: </label><input type="number" name="state" ><br>
  <label>Zipcode: </label><input type="text" name="zipcode" ><br>
  <label>Country: </label><input type="text" name="country" ><br>
  <label>Company ID: </label><input type="text" name="companyID" ><br>

  <input type="submit" name="Add Store" value="Add Store">
</form>


{{#if bs_store}}
<table border="solid" name="bs_store">
<th>Store ID
    <th>Address
    <th>City
    <th>State
    <th>Zipcode
    <th>Country
    <th>CompanyID
</th>
  {{#each bs_store}}
  <tr>
  <td>{{this.sID}}</td>
    <td>{{this.address}}</td>
    <td>{{this.city}}</td>
    <td>{{this.state}}</td>
    <td>{{this.zipcode}}</td>
    <td>{{this.country}}</td>
        <td>{{this.companyID}}</td>

    <td><form method="post" action="/stores>
    		<input type="hidden" name="sID" value="{{this.sID}}">
      <input type="submit" name="Delete" value="Delete">
    </form></td>
    
    <td><form method="get" action="/stores">
          <input type="hidden" name="sID" value="{{this.sID}}">
          <input type="hidden" name="address" value="{{this.address}}">
          <input type="hidden" name="city" value="{{this.city}}">
          <input type="hidden" name="state" value="{{this.state}}">
          <input type="hidden" name="zipcode" value="{{this.zipcode}}">
          <input type="hidden" name="country" value="{{this.country}}">
          <input type="hidden" name="companyID" value="{{this.companyID}}">
          <input type="submit" name="Edit" value="Edit">
    </form></td>
  </tr>
  {{/each}}
</table>
{{/if}}


<td><form method="get" action="/employees">
<input type="submit" name="Employee Table" value="Employee Table">
    </form></td>
    
    
    <td><form method="get" action="/books">
    <input type="submit" name="Book Table" value="Book Table">
    </form></td>
    
    <td><form method="get" action="/customers">
        <input type="submit" name="Customer Table" value="Customer Table">
    </form></td> 
    -->
