<h1>updatetrand.handlebars</h1>

<link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon"> 

<form method="get" action="/updateTranD">
  <label>Transaction ID: </label><input type="number" name="tID" value="{{this.tID}}"><br>
  <label>Author: </label><input type="text" name="author" value="{{this.author}}"><br>
  <label>Title: </label><input type="text" name="title" value="{{this.title}}"><br>
  <input type="hidden" name="pID" value="{{this.pID}}">
  <input type="submit" name="Update Transaction Details" value="Update Transaction Details">
</form>
<form action="/tranD">
    <input type="submit" value="Return to Transaction Details table"/>
</form>
